/* ######### GENERAL ######### */

p {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: bold;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

ul {
    list-style-type: none;
}

.simpleBox {
  border: 2px solid gray;
  border-radius: 5px;
  background-color:#006e53;
  color: #FFFFFF;
  padding: -20px -20px -10px -20px;
}

/* ##### NAV ####### */

.navbar-default {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
}

.navbar-default .navbar-nav>li>a {
  color:#006e53;
  font-size: 18px;
  font-weight:bold;
  display: block;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  transition: all 1.5s;
}

.navbar-default .navbar-nav>li>a:hover {
  color:#006e53;
  font-size: 18px;
  font-weight:bold;
  border-bottom: 3px solid #FF0000;
}

/* ##### HERO ####### */

#hero {
  margin: 20px 10px;
  color : #006e53;
}

#hero img{
  border: 1px solid grey;
  border-radius:4px;
}

.fa-mobile, .fa-fax, .fa-envelope {
  color: #006e53;
}

/* ##### WHATWEDO ####### */
#whatwedo {
  border-top: .1em solid #C5C5C5;
  background-color: #f8f8f8;
  padding: 10px;
}

/* ######### aboutUs ######### */

#aboutUs {
  background-color:   #006e53;
  color:              white;
  margin:             0px 0px 0px 0px;
  padding:            20px;
}

/* ##### SERVICES ####### */
#services {
  background-color:#f5f5f5;
  font-family: 'Roboto Slab', serif;
}

#courses {
  border-top: .1em solid #C5C5C5;
}


.features {
  border-top: .1em solid #C5C5C5;
  font-family: 'Roboto Slab', serif;
  padding: 20px;
}


.features h3 {
  padding-top: 60px;
  font-size: 40px;
}

.features ul {
  padding-top: 60px;
}

.features li {
  font-size: 20px;
  margin: 5px;
}













































/* ######### FOOTER ######### */

footer {
  color: white;
}

.social {
 background-color:#2e2e2e;
}
