section#aboutUs
  p
    | Our aim is the provision of a client driven, quality focused service to the hotel, catering and hospitality industry in the areas of recruitment and selection of staff, in-service training and staff development and consultancy in other areas of the personnel sector.
  p
    | Our underlying dynamic is the pursuit of excellence - both in our service to clients and ultimately in our clients' service to the customer'.

  p
    | Future Focus - Our professional service is geared to keep you to the forefront of Ireland's tourist / leisure industry.
  p
    | We recruit, train and consult for the industry with twenty years of knowledge of the industry's requirements in human resources.
