section#hero
  .container
    .row
      .col-sm-6
        img(src='http://www.shannoncollegealumni.com/wp-content/uploads/2015/01/Future-Focus-Logo-300x138.jpg', alt='future focus logo')
      .col-sm-6.text-center
        h1
          | Hotel, Catering, Hospitality and Restaurant Jobs, Employment and Recruitment in Ireland
        p
          i.fa.fa-mobile(aria-hidden='true')
          |  	 021 4311872 / 4311859
        p
          i.fa.fa-fax(aria-hidden='true')
          |  021 4311874
        p
          i.fa.fa-envelope(aria-hidden='true')
          |  	  info@futurefocus.ie
section#whatwedo
  .container
    .row
      .col-md-12
        p
          | We recruit, train and consult for the industry with twenty years of knowledge of the industry's requirements in human resources.
section#aboutUs
  .container
    .row
      .col-sm-12.text-center
        p
          | We cater for Hotels, Restaurants, Hospitals , Guesthouses, Bars, Catering Companies, Cafes, Leisure Centres, Heritage Centres and Fast-food outlets. Please click here for a more detailed view of our recruitment areas.
        p
          | We are based in Cork but operate a Nation-wide service, and indeed service some international outlets.
section#services.features.text-center
  .container
    .row
      .col-sm-12.col-md-7.col-sm-7
        ul
          li
            i.fa.fa-check(aria-hidden='true')
            |  Recruitment of all levels and grades of staff
          li
            i.fa.fa-check(aria-hidden='true')
            |  Consultancy & Manpower Planning
          li
            i.fa.fa-check(aria-hidden='true')
            |  Human Resource Management
          li
            i.fa.fa-check(aria-hidden='true')
            |  In-service Training and Development
          li
            i.fa.fa-check(aria-hidden='true')
            |  Implementation of quality audits and mystery guest reporting
      // col
      .col-sm-12.col-md-5.col-sm-5.text-center
        i.fa.fa-users.fa-5x(aria-hidden='true')
        h3 Our services include
        button#servBtn.btn.btn-primary.btn-large Learn More
      // col
    // row
  // container
// #services
section#courses.features
  .container
    .row.text-center
      .col-md-6
        i.fa.fa-graduation-cap.fa-5x(aria-hidden='true')
        h3 We offer tailor-made courses
        button#coursesBtn.btn.btn-primary.btn-large.bigBtn Learn More
      .col-md-6
        ul
          li
            i.fa.fa-check(aria-hidden='true')
            | Customer Care
          li
            i.fa.fa-check(aria-hidden='true')
            | Sales
          li
            i.fa.fa-check(aria-hidden='true')
            | Quality Systems
          li
            i.fa.fa-check(aria-hidden='true')
            | Manpower Planning
          li
            i.fa.fa-check(aria-hidden='true')
            | Personnel Administration
          li
            i.fa.fa-check(aria-hidden='true')
            | Harrassment/Bullying
